@using MongoDB_RestaurantProject.DataTransferObject.ProductDTOs
@using MongoDB_RestaurantProject.DataTransferObject.ProductReviewDTOs
@model ResultProductDTO

@{
    ViewData["Title"] = Model.ProductName;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    double averageRating = 0;
    if (Model.Reviews != null && Model.Reviews.Any())
    {
        averageRating = Model.Reviews.Average(x => x.Star);
    }
    }

<div class="breadcrumb-area bg-cover text-center text-light" style="background-image: url(/source/assets/img/shape/11.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <br /><br />
                <h1>@Model.ProductName</h1>
                <ul class="breadcrumb">
                    <li><a href="/Default/Index"><i class="fas fa-home"></i> Anasayfa</a></li>
                    <li><a href="/Product/Index">Menü</a></li>
                    <li>@Model.ProductName</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="validtheme-shop-single-area default-padding">
    <div class="container">
        <div class="product-details">
            <div class="row">

                <div class="col-lg-6">
                    <div class="product-thumb">
                        <div id="timeline-carousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner item-box">
                                <div class="carousel-item active product-item">
                                    <a href="@Model.ImageUrl" class="item popup-gallery">
                                        <img src="@Model.ImageUrl" alt="@Model.ProductName">
                                    </a>
                                    @if (Model.IsPopular)
                                    {
                                        <span class="onsale theme">Popüler Ürün</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="single-product-contents">
                        <div class="summary-top-box">
                            <div class="product-tags">
                                <a href="#">@Model.CategoryName</a>
                            </div>
                            <div class="review-count">
                                <div class="rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (averageRating >= i)
                                        {
                                            <i class="fas fa-star" style="color: #ffb400;"></i>
                                        }
                                        else if (averageRating >= i - 0.5)
                                        {
                                            <i class="fas fa-star-half-alt" style="color: #ffb400;"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-star" style="color: #ccc;"></i>
                                        }
                                    }
                                </div>
                                <span>(@(Model.Reviews?.Count ?? 0) Değerlendirme)</span>
                            </div>
                        </div>
                        <h2 class="product-title">
                            @Model.ProductName
                        </h2>
                        <div class="price">
                                <span>₺@Model.PriceFull</span>
                        </div>
                        <div class="product-stock @(Model.IsAvailable ? "validthemes-in-stock" : "text-danger")">
                            <span>@(Model.IsAvailable ? "Stokta Var" : "Tükendi")</span>
                        </div>
                        <p>
                            @Model.Description
                        </p>

                        <div class="product-purchase-list">
                            <input type="number" id="quantity" step="1" name="quantity" value="1" min="1" placeholder="1">
                            <a href="#" class="btn secondary btn-theme btn-sm animation">
                                <i class="fas fa-shopping-cart"></i>
                                Sepete Ekle
                            </a>
                        </div>

                        <div class="product-meta">
                            <span class="sku">
                                <strong>Stok Kodu (SKU):</strong> @Model.Id.Substring(Model.Id.Length - 8).ToUpper()
                            </span>
                            <span class="posted-in">
                                <strong>Kategori:</strong>
                                <a href="#">@Model.CategoryName</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-product-bottom-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="description-tab-control" data-bs-toggle="tab" data-bs-target="#description-tab" type="button" role="tab">Açıklama</button>
                        <button class="nav-link" id="information-tab-control" data-bs-toggle="tab" data-bs-target="#information-tab" type="button" role="tab">Ek Bilgiler</button>
                        <button class="nav-link" id="review-tab-control" data-bs-toggle="tab" data-bs-target="#review-tab" type="button" role="tab">Değerlendirmeler (@(Model.Reviews?.Count ?? 0))</button>
                    </div>

                    <div class="tab-content tab-content-info" id="myTabContent">
                        <div class="tab-pane fade show active" id="description-tab" role="tabpanel">
                            <p>@Model.Description</p>
                            <h5>İçindekiler:</h5>
                            <ul>
                                @if (Model.Ingredients != null)
                                {
                                    foreach (var item in Model.Ingredients)
                                    {
                                        <li>@item</li>
                                    }
                                }
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="information-tab" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Ağırlık/Porsiyon</td>
                                            <td>@Model.Weight</td>
                                        </tr>
                                        <tr>
                                            <td>Boyutlar</td>
                                            <td>@Model.Dimensions</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("_CreateProductReviewComponentPartial", new CreateProductReviewDTO { ProductId = Model.Id })
                    <br />
                    <br />
                    <div class="tab-pane fade" id="review-tab" role="tabpanel">
                        <h4>"@Model.ProductName" için yapılan yorumlar</h4>
                        <div class="review-items">
                            @if (Model.Reviews != null && Model.Reviews.Any())
                            {
                                foreach (var review in Model.Reviews)
                                {
                                    <div class="item">
                                        <div class="info">
                                            <div class="review-date">@review.CreatedAt.ToShortDateString()</div>
                                            <div class="review-authro"><h5>@review.NameSurname</h5></div>
                                            <p>@review.Comment</p>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>Henüz yorum yapılmamış. İlk yorumu siz yapın!</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>