@using MongoDB_RestaurantProject.DataTransferObject.ChefDTOs
@model List<ResultChefDTO>
<div class="chef-style-one-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="site-heading text-center">
                    <h4 class="sub-title">Profesyonel Şefler</h4>
                    <h2 class="title split-text">Mutfak Krallarımızla Tanışın</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-lg-3 col-md-6 chef-one-single mb-30">
                    <div class="chef-style-one-item wow fadeInUp">
                        <div class="thumb">
                            <img src="@item.ImageUrl" alt="Image Not Found">
                            <ul class="chef-one-social">
                                <li class="facebook">
                                    <a href="@item.FacebookUrl">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="@item.InstagramUrl">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="@item.LinkedInUrl">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="info">
                            <h4><a href="/Chef/ChefDetails/@item.Id">@item.NameSurname</a></h4>
                            <span>@item.PositionName</span>
                        </div>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>