@model List<MenuCategoryViewModel>

<div class="menu-style-five-area default-padding bg-cover" style="background-image: url(/source/assets/img/shape/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="thumb-style-two">
                    <div class="fun-fact-style-two mb-40">
                        <div class="icon">
                            <img src="/source/assets/img/icon/2.png" alt="Image Not Found">
                        </div>
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer" data-to="500" data-speed="2000">500</div>
                                <div class="operator">+</div>
                            </div>
                            <span class="medium">Menü ve Yemekler</span>
                        </div>
                    </div>
                    <img class="wow fadeInLeft" src="https://mshanken.imgix.net/wso/Restaurants/250329_02_25.jpg" alt="Image Not Found">
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <h4 class="sub-heading">Yemek Ürünleri</h4>
                <h2 class="title split-text">Başlangıçlar ve Ana Yemekler</h2>

                <div class="food-menu-style-five-items mt-65 wow fadeInUp">

                    <ul class="nav nav-tabs food-menu-five-navs" id="myTab" role="tablist">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var category = Model[i];
                            var activeClass = i == 0 ? "active" : "";

                            <li class="nav-item" role="presentation">
                                <button class="nav-link @activeClass"
                                        id="tab-btn-@i"
                                        data-bs-toggle="tab"
                                        data-bs-target="#tab-content-@i"
                                        type="button"
                                        role="tab">
                                    @category.CategoryName
                                </button>
                            </li>
                        }
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            var category = Model[i];
                            var showActive = i == 0 ? "show active" : "";

                            <div class="tab-pane fade @showActive" id="tab-content-@i" role="tabpanel">
                                <ul class="meal-type">
                                    <li>Yarım</li>
                                    <li>Tam</li>
                                </ul>

                                <ul class="meal-items style-two">
                                    @foreach (var item in category.Products)
                                    {
                                        <li>
                                            <div class="content">
                                                <div class="top">
                                                    <div class="title">
                                                        <h4>@item.ProductName</h4>
                                                    </div>
                                                    <div class="price">
                                                        <span>@item.PriceHalf₺</span>
                                                        <span>@item.PriceFull₺</span>
                                                    </div>
                                                </div>
                                                <div class="bottom">
                                                    <div class="left">
                                                        <p>@item.Description</p>
                                                    </div>
                                                    <div class="right">
                                                        <p>Ücretsiz İçecek</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>